/buildwindows/.vs/Tesselations/project-colors.json
/buildwindows/.vs/Tesselations/v17/.suo
/buildwindows/.vs/Tesselations/v17/Browse.VC.db
/buildwindows/.vs/Tesselations/v17/Browse.VC.db-shm
/buildwindows/.vs/Tesselations/v17/Browse.VC.db-wal
/buildwindows/.vs/Tesselations/v17/Browse.VC.opendb
/buildwindows/.vs/Tesselations/v17/Solution.VC.db
/buildwindows/.vs/Tesselations/v17/Solution.VC.db-shm
/buildwindows/.vs/Tesselations/v17/Solution.VC.db-wal
/buildwindows/.vs/Tesselations/v17/ipch/AutoPCH/1687fab70a6ff32d/UTILITIES.ipch
/buildwindows/.vs/Tesselations/v17/ipch/AutoPCH/45f398acb89951d2/CLS_ITEM.ipch
/buildwindows/.vs/Tesselations/v17/ipch/AutoPCH/8773bb749b778744/IMAGE.ipch
/buildwindows/.vs/Tesselations/v17/ipch/AutoPCH/952f59a605146828/FONT.ipch
/buildwindows/.vs/Tesselations/v17/ipch/AutoPCH/9bbda71b52e21400/MAIN.ipch
/buildwindows/ALL_BUILD.vcxproj
/buildwindows/ALL_BUILD.vcxproj.filters
/buildwindows/ALL_BUILD.vcxproj.user
/buildwindows/CMakeCache.txt
/buildwindows/CMakeFiles/3.22.1/CMakeCCompiler.cmake
/buildwindows/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
/buildwindows/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
/buildwindows/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
/buildwindows/CMakeFiles/3.22.1/CMakeRCCompiler.cmake
/buildwindows/CMakeFiles/3.22.1/CMakeSystem.cmake
/buildwindows/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
/buildwindows/CMakeFiles/3.22.1/CompilerIdC/CompilerIdC.exe
/buildwindows/CMakeFiles/3.22.1/CompilerIdC/CompilerIdC.vcxproj
/buildwindows/CMakeFiles/3.22.1/CompilerIdC/Debug/CMakeCCompilerId.obj
/buildwindows/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.exe.recipe
/buildwindows/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
/buildwindows/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/buildwindows/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/buildwindows/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/buildwindows/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/buildwindows/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/buildwindows/CMakeFiles/3.22.1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/buildwindows/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/buildwindows/CMakeFiles/3.22.1/CompilerIdCXX/CompilerIdCXX.exe
/buildwindows/CMakeFiles/3.22.1/CompilerIdCXX/CompilerIdCXX.vcxproj
/buildwindows/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
/buildwindows/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
/buildwindows/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/buildwindows/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/buildwindows/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/buildwindows/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/buildwindows/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/buildwindows/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/buildwindows/CMakeFiles/3.22.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/buildwindows/CMakeFiles/3.22.1/VCTargetsPath.txt
/buildwindows/CMakeFiles/3.22.1/VCTargetsPath.vcxproj
/buildwindows/CMakeFiles/3.22.1/x64/Debug/VCTargetsPath.recipe
/buildwindows/CMakeFiles/3.22.1/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
/buildwindows/CMakeFiles/CMakeError.log
/buildwindows/CMakeFiles/CMakeOutput.log
/buildwindows/CMakeFiles/FindMPI/test_mpi.cpp
/buildwindows/CMakeFiles/FindMPI/test_mpi_C.bin
/buildwindows/CMakeFiles/FindMPI/test_mpi_CXX.bin
/buildwindows/CMakeFiles/TargetDirectories.txt
/buildwindows/CMakeFiles/a8bfac563ba2e267a8de5c4fcd6b44ec/generate.stamp.rule
/buildwindows/CMakeFiles/cmake.check_cache
/buildwindows/CMakeFiles/generate.stamp
/buildwindows/CMakeFiles/generate.stamp.depend
/buildwindows/CMakeFiles/generate.stamp.list
/buildwindows/Debug/SDL2.dll
/buildwindows/Debug/SDL2_image.dll
/buildwindows/Debug/SDL2_ttf.dll
/buildwindows/Debug/Tesselations.exe
/buildwindows/Debug/Tesselations.pdb
/buildwindows/Debug/libfreetype-6.dll
/buildwindows/Debug/libjpeg-9.dll
/buildwindows/Debug/libpng16-16.dll
/buildwindows/Debug/libtiff-5.dll
/buildwindows/Debug/libwebp-7.dll
/buildwindows/Debug/zlib1.dll
/buildwindows/Tesselations.dir/Debug/Tesselations.Build.CppClean.log
/buildwindows/Tesselations.dir/Debug/Tesselations.exe.recipe
/buildwindows/Tesselations.dir/Debug/Tesselations.ilk
/buildwindows/Tesselations.dir/Debug/Tesselations.log
/buildwindows/Tesselations.dir/Debug/Tesselations.tlog/CL.command.1.tlog
/buildwindows/Tesselations.dir/Debug/Tesselations.tlog/CL.read.1.tlog
/buildwindows/Tesselations.dir/Debug/Tesselations.tlog/CL.write.1.tlog
/buildwindows/Tesselations.dir/Debug/Tesselations.tlog/CustomBuild.command.1.tlog
/buildwindows/Tesselations.dir/Debug/Tesselations.tlog/CustomBuild.read.1.tlog
/buildwindows/Tesselations.dir/Debug/Tesselations.tlog/CustomBuild.write.1.tlog
/buildwindows/Tesselations.dir/Debug/Tesselations.tlog/Tesselations.lastbuildstate
/buildwindows/Tesselations.dir/Debug/Tesselations.tlog/link.command.1.tlog
/buildwindows/Tesselations.dir/Debug/Tesselations.tlog/link.read.1.tlog
/buildwindows/Tesselations.dir/Debug/Tesselations.tlog/link.write.1.tlog
/buildwindows/Tesselations.dir/Debug/Tesselations.vcxproj.FileListAbsolute.txt
/buildwindows/Tesselations.dir/Debug/font.obj
/buildwindows/Tesselations.dir/Debug/image.obj
/buildwindows/Tesselations.dir/Debug/main.obj
/buildwindows/Tesselations.dir/Debug/utilities.obj
/buildwindows/Tesselations.dir/Debug/vc143.pdb
/buildwindows/Tesselations.sln
/buildwindows/Tesselations.vcxproj
/buildwindows/Tesselations.vcxproj.filters
/buildwindows/Tesselations.vcxproj.user
/buildwindows/ZERO_CHECK.vcxproj
/buildwindows/ZERO_CHECK.vcxproj.filters
/buildwindows/cmake_install.cmake
/buildwindows/x64/Debug/ALL_BUILD/ALL_BUILD.Build.CppClean.log
/buildwindows/x64/Debug/ALL_BUILD/ALL_BUILD.log
/buildwindows/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
/buildwindows/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
/buildwindows/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
/buildwindows/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
/buildwindows/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
/buildwindows/x64/Debug/ALL_BUILD/ALL_BUILD.vcxproj.FileListAbsolute.txt
/buildwindows/x64/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
/buildwindows/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
/buildwindows/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
/buildwindows/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
/buildwindows/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
/buildwindows/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
/buildwindows/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/buildwindows/x64/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
/libraries/neat/CHANGES
/libraries/neat/CMakeLists.txt
/libraries/neat/LICENSE
/libraries/neat/Makefile
/libraries/neat/README
/libraries/neat/experiments.cpp
/libraries/neat/experiments.h
/libraries/neat/gene.cpp
/libraries/neat/gene.h
/libraries/neat/genome.cpp
/libraries/neat/genome.h
/libraries/neat/innovation.cpp
/libraries/neat/innovation.h
/libraries/neat/link.cpp
/libraries/neat/link.h
/libraries/neat/neat.cpp
/libraries/neat/neat.h
/libraries/neat/neatmain.cpp
/libraries/neat/neatmain.h
/libraries/neat/network.cpp
/libraries/neat/network.h
/libraries/neat/nnode.cpp
/libraries/neat/nnode.h
/libraries/neat/organism.cpp
/libraries/neat/organism.h
/libraries/neat/p2mpar3bare.ne
/libraries/neat/p2nv.ne
/libraries/neat/p2test.ne
/libraries/neat/params256.ne
/libraries/neat/pole1startgenes
/libraries/neat/pole2_markov.ne
/libraries/neat/pole2startgenes
/libraries/neat/pole2startgenes.original
/libraries/neat/pole2startgenes1
/libraries/neat/pole2startgenes2
/libraries/neat/population.cpp
/libraries/neat/population.h
/libraries/neat/species.cpp
/libraries/neat/species.h
/libraries/neat/test.ne
/libraries/neat/trait.cpp
/libraries/neat/trait.h
/libraries/neat/xorstartgenes
/librarieswindows/SDL2/BUGS.txt
/librarieswindows/SDL2/COPYING.txt
/librarieswindows/SDL2/README-SDL.txt
/librarieswindows/SDL2/README.txt
/librarieswindows/SDL2/WhatsNew.txt
/librarieswindows/SDL2/docs/README-android.md
/librarieswindows/SDL2/docs/README-cmake.md
/librarieswindows/SDL2/docs/README-directfb.md
/librarieswindows/SDL2/docs/README-dynapi.md
/librarieswindows/SDL2/docs/README-emscripten.md
/librarieswindows/SDL2/docs/README-gesture.md
/librarieswindows/SDL2/docs/README-git.md
/librarieswindows/SDL2/docs/README-hg.md
/librarieswindows/SDL2/docs/README-ios.md
/librarieswindows/SDL2/docs/README-kmsbsd.md
/librarieswindows/SDL2/docs/README-linux.md
/librarieswindows/SDL2/docs/README-macos.md
/librarieswindows/SDL2/docs/README-nacl.md
/librarieswindows/SDL2/docs/README-os2.md
/librarieswindows/SDL2/docs/README-pandora.md
/librarieswindows/SDL2/docs/README-platforms.md
/librarieswindows/SDL2/docs/README-porting.md
/librarieswindows/SDL2/docs/README-psp.md
/librarieswindows/SDL2/docs/README-raspberrypi.md
/librarieswindows/SDL2/docs/README-riscos.md
/librarieswindows/SDL2/docs/README-touch.md
/librarieswindows/SDL2/docs/README-visualc.md
/librarieswindows/SDL2/docs/README-vita.md
/librarieswindows/SDL2/docs/README-wince.md
/librarieswindows/SDL2/docs/README-windows.md
/librarieswindows/SDL2/docs/README-winrt.md
/librarieswindows/SDL2/docs/README.md
/librarieswindows/SDL2/docs/doxyfile
/librarieswindows/SDL2/include/SDL.h
/librarieswindows/SDL2/include/SDL_assert.h
/librarieswindows/SDL2/include/SDL_atomic.h
/librarieswindows/SDL2/include/SDL_audio.h
/librarieswindows/SDL2/include/SDL_bits.h
/librarieswindows/SDL2/include/SDL_blendmode.h
/librarieswindows/SDL2/include/SDL_clipboard.h
/librarieswindows/SDL2/include/SDL_config.h
/librarieswindows/SDL2/include/SDL_config.h.cmake
/librarieswindows/SDL2/include/SDL_config.h.in
/librarieswindows/SDL2/include/SDL_config_android.h
/librarieswindows/SDL2/include/SDL_config_iphoneos.h
/librarieswindows/SDL2/include/SDL_config_macosx.h
/librarieswindows/SDL2/include/SDL_config_macosx.h.orig
/librarieswindows/SDL2/include/SDL_config_minimal.h
/librarieswindows/SDL2/include/SDL_config_pandora.h
/librarieswindows/SDL2/include/SDL_config_psp.h
/librarieswindows/SDL2/include/SDL_config_windows.h
/librarieswindows/SDL2/include/SDL_config_winrt.h
/librarieswindows/SDL2/include/SDL_config_wiz.h
/librarieswindows/SDL2/include/SDL_copying.h
/librarieswindows/SDL2/include/SDL_cpuinfo.h
/librarieswindows/SDL2/include/SDL_egl.h
/librarieswindows/SDL2/include/SDL_endian.h
/librarieswindows/SDL2/include/SDL_error.h
/librarieswindows/SDL2/include/SDL_events.h
/librarieswindows/SDL2/include/SDL_filesystem.h
/librarieswindows/SDL2/include/SDL_gamecontroller.h
/librarieswindows/SDL2/include/SDL_gesture.h
/librarieswindows/SDL2/include/SDL_haptic.h
/librarieswindows/SDL2/include/SDL_hidapi.h
/librarieswindows/SDL2/include/SDL_hints.h
/librarieswindows/SDL2/include/SDL_joystick.h
/librarieswindows/SDL2/include/SDL_keyboard.h
/librarieswindows/SDL2/include/SDL_keycode.h
/librarieswindows/SDL2/include/SDL_loadso.h
/librarieswindows/SDL2/include/SDL_locale.h
/librarieswindows/SDL2/include/SDL_log.h
/librarieswindows/SDL2/include/SDL_main.h
/librarieswindows/SDL2/include/SDL_messagebox.h
/librarieswindows/SDL2/include/SDL_metal.h
/librarieswindows/SDL2/include/SDL_misc.h
/librarieswindows/SDL2/include/SDL_mouse.h
/librarieswindows/SDL2/include/SDL_mutex.h
/librarieswindows/SDL2/include/SDL_name.h
/librarieswindows/SDL2/include/SDL_opengl.h
/librarieswindows/SDL2/include/SDL_opengl_glext.h
/librarieswindows/SDL2/include/SDL_opengles.h
/librarieswindows/SDL2/include/SDL_opengles2.h
/librarieswindows/SDL2/include/SDL_opengles2_gl2.h
/librarieswindows/SDL2/include/SDL_opengles2_gl2ext.h
/librarieswindows/SDL2/include/SDL_opengles2_gl2platform.h
/librarieswindows/SDL2/include/SDL_opengles2_khrplatform.h
/librarieswindows/SDL2/include/SDL_pixels.h
/librarieswindows/SDL2/include/SDL_platform.h
/librarieswindows/SDL2/include/SDL_power.h
/librarieswindows/SDL2/include/SDL_quit.h
/librarieswindows/SDL2/include/SDL_rect.h
/librarieswindows/SDL2/include/SDL_render.h
/librarieswindows/SDL2/include/SDL_revision.h
/librarieswindows/SDL2/include/SDL_rwops.h
/librarieswindows/SDL2/include/SDL_scancode.h
/librarieswindows/SDL2/include/SDL_sensor.h
/librarieswindows/SDL2/include/SDL_shape.h
/librarieswindows/SDL2/include/SDL_stdinc.h
/librarieswindows/SDL2/include/SDL_surface.h
/librarieswindows/SDL2/include/SDL_system.h
/librarieswindows/SDL2/include/SDL_syswm.h
/librarieswindows/SDL2/include/SDL_test.h
/librarieswindows/SDL2/include/SDL_test_assert.h
/librarieswindows/SDL2/include/SDL_test_common.h
/librarieswindows/SDL2/include/SDL_test_compare.h
/librarieswindows/SDL2/include/SDL_test_crc32.h
/librarieswindows/SDL2/include/SDL_test_font.h
/librarieswindows/SDL2/include/SDL_test_fuzzer.h
/librarieswindows/SDL2/include/SDL_test_harness.h
/librarieswindows/SDL2/include/SDL_test_images.h
/librarieswindows/SDL2/include/SDL_test_log.h
/librarieswindows/SDL2/include/SDL_test_md5.h
/librarieswindows/SDL2/include/SDL_test_memory.h
/librarieswindows/SDL2/include/SDL_test_random.h
/librarieswindows/SDL2/include/SDL_thread.h
/librarieswindows/SDL2/include/SDL_timer.h
/librarieswindows/SDL2/include/SDL_touch.h
/librarieswindows/SDL2/include/SDL_types.h
/librarieswindows/SDL2/include/SDL_version.h
/librarieswindows/SDL2/include/SDL_video.h
/librarieswindows/SDL2/include/SDL_vulkan.h
/librarieswindows/SDL2/include/begin_code.h
/librarieswindows/SDL2/include/close_code.h
/librarieswindows/SDL2/lib/x64/SDL2.dll
/librarieswindows/SDL2/lib/x64/SDL2.lib
/librarieswindows/SDL2/lib/x64/SDL2main.lib
/librarieswindows/SDL2/lib/x64/SDL2test.lib
/librarieswindows/SDL2/lib/x86/SDL2.dll
/librarieswindows/SDL2/lib/x86/SDL2.lib
/librarieswindows/SDL2/lib/x86/SDL2main.lib
/librarieswindows/SDL2/lib/x86/SDL2test.lib
/librarieswindows/SDL2_image/CHANGES.txt
/librarieswindows/SDL2_image/COPYING.txt
/librarieswindows/SDL2_image/README.txt
/librarieswindows/SDL2_image/include/SDL_image.h
/librarieswindows/SDL2_image/lib/x64/LICENSE.jpeg.txt
/librarieswindows/SDL2_image/lib/x64/LICENSE.png.txt
/librarieswindows/SDL2_image/lib/x64/LICENSE.tiff.txt
/librarieswindows/SDL2_image/lib/x64/LICENSE.webp.txt
/librarieswindows/SDL2_image/lib/x64/LICENSE.zlib.txt
/librarieswindows/SDL2_image/lib/x64/SDL2_image.dll
/librarieswindows/SDL2_image/lib/x64/SDL2_image.lib
/librarieswindows/SDL2_image/lib/x64/libjpeg-9.dll
/librarieswindows/SDL2_image/lib/x64/libpng16-16.dll
/librarieswindows/SDL2_image/lib/x64/libtiff-5.dll
/librarieswindows/SDL2_image/lib/x64/libwebp-7.dll
/librarieswindows/SDL2_image/lib/x64/zlib1.dll
/librarieswindows/SDL2_image/lib/x86/LICENSE.jpeg.txt
/librarieswindows/SDL2_image/lib/x86/LICENSE.png.txt
/librarieswindows/SDL2_image/lib/x86/LICENSE.tiff.txt
/librarieswindows/SDL2_image/lib/x86/LICENSE.webp.txt
/librarieswindows/SDL2_image/lib/x86/LICENSE.zlib.txt
/librarieswindows/SDL2_image/lib/x86/SDL2_image.dll
/librarieswindows/SDL2_image/lib/x86/SDL2_image.lib
/librarieswindows/SDL2_image/lib/x86/libjpeg-9.dll
/librarieswindows/SDL2_image/lib/x86/libpng16-16.dll
/librarieswindows/SDL2_image/lib/x86/libtiff-5.dll
/librarieswindows/SDL2_image/lib/x86/libwebp-7.dll
/librarieswindows/SDL2_image/lib/x86/zlib1.dll
/librarieswindows/SDL2_ttf/CHANGES.txt
/librarieswindows/SDL2_ttf/COPYING.txt
/librarieswindows/SDL2_ttf/README.txt
/librarieswindows/SDL2_ttf/include/SDL_ttf.h
/librarieswindows/SDL2_ttf/lib/x64/LICENSE.freetype.txt
/librarieswindows/SDL2_ttf/lib/x64/LICENSE.zlib.txt
/librarieswindows/SDL2_ttf/lib/x64/SDL2_ttf.dll
/librarieswindows/SDL2_ttf/lib/x64/SDL2_ttf.lib
/librarieswindows/SDL2_ttf/lib/x64/libfreetype-6.dll
/librarieswindows/SDL2_ttf/lib/x64/zlib1.dll
/librarieswindows/SDL2_ttf/lib/x86/LICENSE.freetype.txt
/librarieswindows/SDL2_ttf/lib/x86/LICENSE.zlib.txt
/librarieswindows/SDL2_ttf/lib/x86/SDL2_ttf.dll
/librarieswindows/SDL2_ttf/lib/x86/SDL2_ttf.lib
/librarieswindows/SDL2_ttf/lib/x86/libfreetype-6.dll
/librarieswindows/SDL2_ttf/lib/x86/zlib1.dll
